.presentation {
    width:100%;
    height:70vh;
    position: relative;
}

.global {

}

.shelf { 
    width: 100%;
    height: 100%;
}

.subPresentation {
    width: 100%;
}

.line {
    text-align: center;
    width:100%;
    height: 100%;
}

.titleMarge { 
    margin: 100px 0;
}

.shelf { 
    margin: 100px 0;
    height: max-content;
    overflow: visible;
}

.subShelf {
    /* background-color: aquamarine; */
    width: 100%;
    height: calc(371px + 57px);
    justify-content: space-evenly;
}

.globalMember {
    height: calc(371px + 57px);
}

.member {
    width: 250px;
}

.photo {
    width:100%;
    /* height: 371px; */
}

.description {
    width: 100%;
    height: 57px;
    padding-top: 10px;
}

.name {
    font-size: 20pt;
    margin:0;
    padding:0;
    line-height: 1;
    font-family: 'Proxima';
}

.activity {
    font-size: 15pt;
    margin:0;
    padding:0;
    line-height: 1;
    font-family: 'Proxima';
}