.global {
    width: 100%;
    height: auto;
    padding: 50px 10vw;
}

.subGlobal { 
    width: 100%;
}

@media (max-width: 644px) {
    .subGlobal {
        flex-direction: column;
    }
}

.logoGlobal { 
    width: 100px;
    height: 80px;
    margin-top: 1.33em;
}

.box { 
    width: calc(100% / 4);
}

.title h4 { 
    font-size: 19pt;
    margin-bottom: 0px;
    padding-bottom: 10px
}

.liste .subListe { 
    padding:10px 0;
    font-size: 9pt;;
}