.title {
  font-size: 20pt;
}

.global {
  height: 100vh;
}

.bigGlobal {
  height: 500vh;
  background: #121212;
  position: relative;
}

.subGlobal {
  height: 80vh;
}

.titleGlobal {
  color:white;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.image {
  position: absolute;
  top:499px;
  right: 10vw;
  border-radius: var(--md,16.66667vw 16.66667vw 0 0) var(--n-md,25vw 25vw 0 0);
  overflow: hidden;
  transition: border-radius 0.5s;
  -webkit-border-radius: var(--md,16.66667vw 16.66667vw 0 0) var(--n-md,25vw 25vw 0 0);
  -moz-border-radius: var(--md,16.66667vw 16.66667vw 0 0) var(--n-md,25vw 25vw 0 0);
  -ms-border-radius: var(--md,16.66667vw 16.66667vw 0 0) var(--n-md,25vw 25vw 0 0);
  -o-border-radius: var(--md,16.66667vw 16.66667vw 0 0) var(--n-md,25vw 25vw 0 0);
  -webkit-transition: border-radius 0.5s;
  -moz-transition: border-radius 0.5s;
  -ms-transition: border-radius 0.5s;
  -o-transition: border-radius 0.5s;
}

.imageHidden {
  opacity: 0;
}

.globalImage {

}

.image:hover {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.triggerHover {

}

@media (min-width: 1468px) {
  .margeForImg {
    padding-left:15vw;
    padding-right:15vw;
    margin-right: 350px;
  }
  
  .marge {
    padding-left:15vw;
    padding-right:15vw;
  }
}

@media (max-width: 1467px) {
  .margeForImg {
    padding-left:5vw;
    padding-right:5vw;
    margin-right: 350px;
  }
  
  .marge {
    padding-left:5vw;
    padding-right:5vw;
  }
}


.espacement { 
  padding-top: 120px;
  padding-bottom: 120px;
}

.step1 {
  position: absolute;
  top:150vh;
  width:100%;
  height:2px;
  /* background-color:yellow; */
}
.step2 {
  position: absolute;
  top:300vh;
  width:100%;
  height:2px;
  /* background-color:yellow; */
}
.step3 {
  position: absolute;
  top:450vh;
  width:100%;
  height:2px;
  /* background-color:yellow; */
}

.ligature {
  font-family: 'blackMamba';
  position: inherit !important;
}




.triggerCarousel1 {
  user-select: none;
  pointer-events: none;
}
.triggerCarousel2 {}
.stepCarousel1 {}
.stepCarousel2 {}