.main {
    height: 300vh;
    background: rgb(59,51,23);
    background-image: linear-gradient(180deg, #3B3317 0%, #373017 0%, #262214 2%, #1B1913 4%, #141412 6%, #121212 37%);
    color: white;
}

.title {
    text-align: center;
    font-size: 108px;
    line-height: 118px;
    letter-spacing: -.03em;
}


h1 span.lighter {
    font-weight: 200;
  }

.displayFlex {
    display: flex;
}

.flexCol {
    flex-direction: column;
}

.subFlex50 {
    width: 50%;
}

.positionRelative {
    position: relative;
}

.positionAbsolute {
    position: absolute;
}

.boxSubtitle {
    margin-right: 100px;
    line-height: 50px;
    font-size: 64px;
    z-index: 9;
}

.boxParagraphe {
  line-height: 44px;
  font-size: 30px;
  z-index: 10;
}

.colorBlack {
    color: black;
}

.shadowTextWhite {
    text-shadow: 0 0 6px white;
}

.geodeGlobal {
    width:124px;
    height:268px;
}

.geodeBigGlobal {
    z-index: 0;
    position: absolute;
    right:5%;
    top:-20%;
    /* width: calc(100% - 30vw); */
    height:calc(50% - 240px);
}

.geode {
    animation-duration: 3s;
    animation-name: geodeAnimation;
    animation-iteration-count: infinite;
}

.backgroundWhite {
    background-color: white;
}

@keyframes geodeAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
        -webkit-transform: translateY(5px);
        -moz-transform: translateY(5px);
        -ms-transform: translateY(5px);
        -o-transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

.circleGlobal {
    position: absolute;
    background-color: #f4d4aa;
    width: 156px;
    height: 156px;
    border-radius: 50%;
    transform: translate(-15%, -25%);
    -webkit-transform: translate(-15%, -25%);
    -moz-transform: translate(-15%, -25%);
    -ms-transform: translate(-15%, -25%);
    -o-transform: translate(-15%, -25%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.zIndex0 {
    z-index: 0;
}

.zIndex1 {
    z-index: 1;
}

.invisbleTexte {
    opacity: 0 !important;
}